/*
    Scaffold core styles
*/

body {
    padding-top: 54px;
}

#sidebar {
    font-size: 13px;
}

#sidebar a.list-subgroup {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    text-decoration: none;
}

#sidebar a.list-subgroup > .badge {
    float: right;
}
