{% load admin_static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <title>{{ site.title }}</title>

    {{ current_page.media_css }}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->    
  </head>  
  <body ng-app="main">
    {% if navbar %}
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div>
        <div class="navbar-header">
          <a class="navbar-brand" href="/{{ settings.URL_PREFIX }}" target="_top">{{ site.title }}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for portal in site %}
              <li {% if portal.uid == current_portal.uid %} class="active" {% endif %}>
                <a href="{{ portal.url }}" target="_top">{{ portal.label }}</a>
              </li>
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- {% if user != None %}             -->
            <!-- <li><a href="#">{{ user.username }}</a></li> -->
            <!-- <li><a href="#">logout</a></li> -->
            <!-- {% endif %} -->
          </ul>          
        </div>
      </div>
    </div>    
    <!-- END Navbar -->
    {% endif %}
    <div class="container-fluid">
      <div class="row-fluid">        
        <!-- Sidebar -->        
        <div class="col-lg-3">
          {% if sidebar %}
          <div class="row-fluid">
            {% block sidebar %}
                {% include "scaffold/includes/sidebar.html" %}
            {% endblock %}
          </div>
          {% endif %}
        </div>
        <!-- END Sidebar -->        
        <!-- Content -->
        <div class="col-lg-21">
          {% for spec, row in current_page %}
            <div class="row">
              {% for module in row %}
                <div class="col-lg-{{ spec }}">
                  {{ module }}
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <!-- END Content -->        
      </div> <!-- /.row-fluid -->
    </div><!-- /.container-fluid -->
    
    <!-- JavaScripts
    ================================================== -->
    {{ current_page.media_js }}
  </body>
</html>
